body {
    font-family: arial, helvetica, sans-serif;
    font-size: 14px;
    color: black;
    background-color: #008e9c !important;
    margin: 20px;
    padding: 0;
}

/* This is a comment, by the way */

p {
    line-height: 21px;
	font-size: larger;
}

h1 {
    color: rgb(227, 0, 65);
    background-color: #008e9c !important;
    font-size: 2em;
    margin: 0;
    margin-bottom: 7px;
    padding: 4px;./configure
    font-style: italic;
    text-align: center;
    letter-spacing: 0.5em;
}

h2 {
    color: black;
    background-color: rgb(83, 146, 205) !important;
    font-size: 1.5em;
    margin: 0;
    padding: 2px;
    padding-left: 14px;
}

h3 {
    color: black;
    background-color: rgb(227, 0, 65) !important;
    font-size: 1.5em;
    margin: 0;
        padding: 2px;
        padding-left: 14px;
}


img {
  
}

a {
    text-decoration: none;
}

strong {
    font-style: italic;
    text-transform: uppercase;
}

li {
    color: orange;
    font-style: italic;
	font-size: x-large;
}

table {
    background-color: #ccc;
}
